# créer un .env.test et aller chercher ses key et link au niveau du azure dev ops si on veut venir lancer le code

OPENAI_KEY = ""
SEARCH_KEY = ""

# Endpoints validés
OPENAI_ENDPOINT = ""
SEARCH_ENDPOINT = ""
INDEX_NAME = ""
